<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Not Found</title>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <link rel="stylesheet" href="../../css/app.css">

</head>

<body class="antialiased" data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
    <div class="relative flex items-top justify-center min-h-screen sm:items-center sm:pt-0">
        <div class="max-w-xl mx-auto sm:px-6 lg:px-8">
            <div class="flex items-center pt-8 sm:justify-start sm:pt-0">
                <div class="px-4 text-lg color-red border-r border-gray-400 tracking-wider">
                    500 </div>

                <div class="ml-4 text-lg color-red tracking-wider">
                    Internal Server Error </div>
            </div>
        </div>
    </div>


</body>

</html>