<%- include('../layouts/header') %>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-6 col-md-6 col-sm-12 order-md-1 order-last">
                    <div class="row">
                        <div class="col-2 col-md-3 col-sm-12 order-md-1 order-last">
                            <h3>Ads types</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-sm-12 order-md-2 order-last">
                    <div class="buttons float-end">
                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addAdstypesModel">
                            <i class="fas fa-plus">&nbsp;</i>
                            Add Ads Type
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="card">
                <div class="card-header" style="text-transform: capitalize;">
                    Ads Types
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>App Name</th>
                                <th>Platform Name</th>
                                <th>Priority</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <div class="modal fade text-left" id="addAdstypesModel" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content" style="overflow: scroll;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Add Ads Type</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <form action="#" id="addAdstypesForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>App Name: </label>
                                <input type="text" placeholder="Enter app name" id="app_name" name="app_name"
                                    class="form-control" required>
                                <p class="text-danger" id="err-app_name" style=" color: #9f0606; display: none">app name
                                    is required</p>
                            </div>
                            <div class="form-group">
                                <label>Platform Name: </label>
                                <input type="text" placeholder="Enter paltform name" id="platform_name"
                                    name="platform_name" class="form-control" required>
                                <p class="text-danger" id="err-paltform_name" style=" color: #9f0606; display: none">
                                    paltform name
                                    is required</p>
                            </div>
                            <div class="form-group">
                                <label>Priority: </label>
                                <input type="text" placeholder="Enter priority" id="priority" name="priority"
                                    class="form-control" required>
                                <p class="text-danger" id="err-priority" style=" color: #9f0606; display: none">priority
                                    is required</p>
                            </div>
                            <div class="form-group">
                                <label>Name: </label>
                                <input type="text" placeholder="Enter name" id="name" name="name" class="form-control"
                                    required>
                                <p class="text-danger" id="err-name" style=" color: #9f0606; display: none">name
                                    is required</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-light-secondary" data-bs-dismiss="modal">

                                <span>Close</span>
                            </button>
                            <button type="submit" class="btn btn-dark" id="addAdsTypesButton">

                                <span>Add</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade text-left" id="updateAdsTypesModel" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content" style="overflow: scroll;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Update Ads Type</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <form action="#" id="updateAdsTypesForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>App Name: </label>
                                <input type="text" placeholder="Enter app name" id="up-app_name" name="app_name"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Platform Name: </label>
                                <input type="text" placeholder="Enter platform name" id="up-platform_name"
                                    name="platform_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Priority: </label>
                                <input type="text" placeholder="Enter priority" id="up-priority" name="priority"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Name: </label>
                                <input type="text" placeholder="Enter name" id="up-name" name="name"
                                    class="form-control" required>
                            </div>
                            <input type="hidden" id="id" name="id">
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-light-secondary" data-bs-dismiss="modal">

                                <span>Close</span>
                            </button>
                            <button type="submit" class="btn btn-dark" id="updateAdsTypesButton">

                                <span>Update</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                paging: true,
                responsive: true,
                searching: true,
                ajax: {
                    type: "GET",
                    url: "/admin/ads_types/data",
                    dataSrc: "data",

                },
                columns: [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1
                        }
                    },
                    { "data": 'app_name' },
                    { "data": 'platform_name' },
                    { "data": 'priority' },
                    { "data": 'name' },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            let content = `<td><div class="d-flex">`
                            content = content +
                                '<a href="#"  class="edit" data-value ="' + row.id + '" data-bs-toggle="modal" data-bs-target="#updateAdsTypesModel"><i class="fas fa-edit" style="color: #000000;"></i></a>'
                            content = content +
                                '<a href="#"  class="delete" data-value ="' + row.id + '" style="margin-left: 30px;"><i class="fa-regular fa-trash-can" aria-hidden="true"  style="color: red;"></i></a>'
                            content = content + `</div></td>`
                            return content
                        }
                    },
                ]
            });

            $('#addAdsTypesButton').click(function (e) {
                e.preventDefault();

                const app_name = $('#app_name').val()
                const platform_name = $("#platform_name").val();
                const priority = $("#priority").val();
                const name = $('#name').val()

                const data = {
                    app_name, platform_name, priority, name
                }

                fetch(`/admin/ads_types`,
                    {
                        method: "POST",
                        body: JSON.stringify(data),
                        mode: 'cors',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(async function (res) {
                        const data = await res.json()
                        if (data.success) {
                            $('#addAdstypesModel').modal('hide');
                            Swal.fire({
                                icon: "success",
                                title: "Success",
                                text: "ads type added successfully.",
                                timer: 1000,
                                showConfirmButton: false
                            })
                            table.ajax.reload();
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Something is wrong",
                                confirmButtonColor: "#000000",
                            })
                        }
                    })
                    .catch(function (res) {
                        console.log(res);
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something is wrong",
                            confirmButtonColor: "#000000",
                        })
                    })
            })


            $('#addAdstypesModel').on('show.bs.modal', function (event) {
                $("#addAdstypesForm").trigger("reset");
            })
        })

        $(document).on('click', '.edit', function (e) {
            e.preventDefault()
            var adsTypeId = $(this).data('value')
            fetch(`/admin/ads_types/view/${adsTypeId}`)
                .then(response => response.json())
                .then((data) => {
                    const { app_name, platform_name, priority, name, id } = data.data
                    $('#id').val(id)
                    $('#up-app_name').val(app_name)
                    $('#up-platform_name').val(platform_name)
                    $('#up-priority').val(priority)
                    $('#up-name').val(name)
                })
                .catch((err) => console.log(err))
        })

        $('#updateAdsTypesButton').click(function (e) {
            e.preventDefault();

            var data = $('#updateAdsTypesForm').serializeArray().reduce((o, { name: n, value: v }) => Object.assign(o, { [n]: v }), {});

            fetch(`/admin/ads_types/${data.id}`, {
                method: "PUT",
                body: JSON.stringify(data),
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(async function (res) {
                    const data = await res.json()
                    if (data.success) {
                        $('#updateAdsTypesModel').modal('hide');
                        Toastify({
                            text: "ads type updated successfully.",
                            duration: 1000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "rgb(31 191 95)",
                        }).showToast();
                        $('#dataTable').DataTable().ajax.reload();
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something is wrong",
                            confirmButtonColor: "#000000",
                        })
                    }
                })
                .catch(function (res) {
                    console.log(res);
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something is wrong",
                        confirmButtonColor: "#000000",
                    })
                })
        })


        $(document).on('click', '.delete', function () {
            const id = $(this).data('value')

            Swal.fire({
                title: "Are you sure about deleting this ads type?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete",
                confirmButtonColor: "#000000",
                cancelButtonColor: "#999999",
                reverseButtons: true,
                focusConfirm: false,
                focusCancel: true,
            })
                .then((e) => {
                    if (e.isConfirmed) {
                        fetch(`/admin/ads_types/${id}`,
                            {
                                method: "DELETE",
                                mode: 'cors',
                                cache: 'no-cache',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                            })
                            .then(async function (res) {
                                const data = await res.json()
                                if (data.success) {
                                    Toastify({
                                        text: "ads type deleted successfully.",
                                        duration: 1000,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        backgroundColor: "rgb(245 90 90)",
                                    }).showToast();
                                    $('#dataTable').DataTable().ajax.reload();
                                }
                                else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "Something is wrong",
                                        confirmButtonColor: "#000000",
                                    })
                                }
                            })
                            .catch(function (res) {
                                console.log(res);
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Something is wrong",
                                    confirmButtonColor: "#000000",
                                })
                            })
                    }
                })
        })

    </script>


    <%- include('../layouts/footer') %>